@import url(general.css);

.toll-tip {
  visibility: hidden;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 0.4em;
  color: rgb(0, 0, 0);
  padding: 5px;
  min-width: max-content;
  font-weight: bold;
  font-size: 11px;
  top: -30px;
  pointer-events: none;
}

.toll-tip > div {
  position: absolute;
  bottom: -14px;
  border: 9px solid transparent;
  border-top-color: white;
}
